header {
    background-image: url(./assets/imgs/header-shelf.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border: 6px solid var(--border);

    width: 100%;
    height: clamp(70px 4vw 90px);
    max-width: 14440px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

header img {
    width: clamp(64px, 3vw, 90px);
}

.headline {
    display: flex;
    gap: 16px;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 32px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: clamp(280px, 50vw, 640px);
    border: 6px solid var(--border);
    border-radius: var(--border-radius);

    margin: 24px;
    padding: 16px;

    background-color: var(--background-primary);
}

.book-meta {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.price-like-row {
    display: flex;
    justify-content: space-between;
}

.likes {
    display: flex;
}

.comment-item {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    margin-bottom: 6px;
}

.comment-author {
    font-weight: bold;

    width: 140px;

    flex-shrink: 0;
    /* Verhindert, dass der Name zusammengedrückt wird */
    white-space: nowrap;
    /* Verhindert ungewollten Zeilenumbruch im Namen */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Fügt "..." an, falls ein Name doch zu lang ist */
}

.comment-text {
    flex: 1;
    /* Nimmt den restlichen verfügbaren Platz ein */
}

.comment-input-box {
    display: flex;
}