header {
    background-image: url(./assets/imgs/header-shelf.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border: 6px solid var(--border);

    width: 100%;
    height: clamp(70px 4vw 90px);
    max-width: 14440px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

header img {
    width: clamp(64px, 3vw, 90px);
}

.headline {
    display: flex;
    gap: 16px;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 32px;
}

.headline button {
    background-color: transparent;
    border: none;
    border-radius: 32px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: clamp(300px, 70vw, 700px);
    border: 6px solid var(--border);
    border-radius: var(--border-radius);

    margin: 24px;
    padding: 16px;

    background-color: var(--background-primary);
}

.book-meta {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 56px;
}

.likes {
    display: flex;
}

/* 1. ZUSTAND: Hover auf ein UNGELIKTES Herz -> Halbvolles Herz */
.heart-icon:not(.liked):hover img {
    content: url("../assets/icons/heart-hover.svg");
    /* Pfad zum halbvollen Herz */
    transform: scale(1.1);
}

/* 2. ZUSTAND: Geliked -> Volles Herz */
.heart-icon.liked img {
    content: url("../assets/icons/heart-clicked.svg");
    /* Pfad zum vollen Herz */
}

/* 3. ZUSTAND: Hover auf ein GELIKTES Herz -> Wieder halbvoll als Vorschau aufs Entliken */
.heart-icon.liked:hover img {
    content: url("../assets/icons/heart-hover.svg");
    transform: scale(1.1);
}

.comments-section {
    width: 80%;
}

.comment-item {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    margin-bottom: 6px;
}

.comment-author {
    font-weight: bold;

    width: 140px;

    flex-shrink: 0;
    /* Verhindert, dass der Name zusammengedrückt wird */
    white-space: nowrap;
    /* Verhindert ungewollten Zeilenumbruch im Namen */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Fügt "..." an, falls ein Name doch zu lang ist */
}

.comment-text {
    flex: 1;
    /* Nimmt den restlichen verfügbaren Platz ein */
}

.comment-input-box {
    display: flex;

    margin-top: 8px;
}