.divider {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;

    margin: 15px 0;

    background-image: url('../assets/imgs/divider.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid var(--border);
}

.divider::before {
    margin-right: 40px;
}

.divider::after {
    margin-left: 40px;
}

.book-cover img {
    width: 156px;
}

.book-card button {
    background-color: var(--background-primary);

    border: none;
    outline: none;
}

button img {
    width: 24px;
}

button:hover {
    cursor: pointer;
}

dialog {
    margin: auto;

    max-width: 400px;

    border: 6px solid var(--border);
    border-radius: var(--border-radius);
}

dialog::backdrop {
    backdrop-filter: blur(6px);
}

dialog button {
    background-color: var(--background-primary);

    border: 2px solid var(--border);
    border-radius: var(--border-radius);
    outline: none;
}