:root {
    --font-primary: rgb(18, 18, 18);
    --font-secondary: rgb(245, 245, 245);
    --background-primary: rgb(245, 245, 245);
    --background-secondary: rgb(112, 128, 144);
    --border: rgb(18, 18, 18);
    --border-radius: 16px;
}